.contenu{
	position: relative;
}

.menu{

}

#titre{
	text-align: center;
}

#map {
	height: 65%;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#PPMiniCart ul
{
max-height: 200px !important;
overflow-y: auto !important;
overflow-x: hidden !important;
}